<%= content_tag_for :tr, user do %>
  <td class="handle"><%= user.position %></td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= link_to 'Edit', edit_user_path(user), remote: true %></td>
  <td>
  	<%- unless current_user == user %>
    	<%= link_to 'Delete', user_path(user), remote: true, method: :delete,  data: { confirm: 'You sure?' } %>
  	<% end %>
  </td>
<% end %>